@page
@model EDPFinal.Pages.SuperAdmin.AdminListModel
@{
    ViewData["Title"] = "Admin List Page";
}

<h1>All Admins</h1>
<br />
<a href="CreateAdmin">Create another admin</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.alladmins[0].adminID)</th>
            <th>@Html.DisplayNameFor(model => model.alladmins[0].adminEmail)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.alladmins != null)
            {
                @foreach (var item in Model.alladmins)
                {
                    <tr>
                        <td>@item.adminID</td>
                        <td>@item.adminEmail</td>
                        <td>
                            <a asp-page="/SuperAdmin/EditAdmin" asp-route-id="@item.adminID">Edit</a>
                        </td>
                        <td>
                            <a asp-route-id="@item.adminID" onclick="return confirm('Are you sure you want to delete?')" asp-page="/SuperAdmin/DeleteAdmin">Delete</a>
                        </td>
                        <td>
                            <a asp-page="/SuperAdmin/AdminDetail" asp-route-id="@item.adminID">View</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
