@page
@using Microsoft.AspNetCore.Http
@model EDPFinal.Pages.Teacher.CourseListModel
@{
    ViewData["Title"] = "Course List";
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Format</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.AllCourses != null)
            {
                @foreach (var cor in Model.AllCourses.Where(i => i.userID == HttpContext.Session.GetInt32("ID")))
                {
                    <tr>
                        <td>@cor.courseTitle</td>
                        <td>@cor.courseGenre</td>
                        @{ if (cor.courseFormat == false)
                            {
                                <td>Video</td>
                            }
                            else if (cor.courseFormat == true)
                            {
                                <td>Live</td>
                            }
                        }
                        <td>
                            <a asp-page="/Teacher/CourseDetail" asp-route-id="@cor.courseID">View</a>
                            <a asp-page="/Teacher/UpdateCourse" asp-route-id="@cor.courseID">Update</a>
                            <a asp-page="/Teacher/DeleteCourse" asp-route-id="@cor.courseID" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                            <a asp-page="/Teacher/VidTest" asp-route-id="@cor.courseID">Video</a>
                        </td>
                    </tr>
                }
            }
        }
        }
    </tbody>
</table>
