@page
@model EDPFinal.Pages.CourseBookings.CreateBookingModel
@{
}
<style>
    #btnbook{
        text-align:right;
    }
</style>
<h1>Book for @Model.coursedetails.courseTitle</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label class="col-sm-2 col-form-label">Title:</label>
        <input readonly class="form-control" value="@Model.coursedetails.courseTitle" />
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Available Date/Time:</label>
        <input asp-for="MyBooking.BookingTime" class="form-control" value="" placeholder="Available Date *" />
        <span asp-validation-for="MyBooking.BookingTime" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Genre:</label>
        <input readonly class="form-control" value="@Model.coursedetails.courseGenre" />
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Format:</label>
        <input readonly class="form-control" value="@Model.genreValue" />
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Price:</label>
        <input readonly class="form-control" value="@Model.coursedetails.coursePrice" />
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Details:</label>
        <input readonly class="form-control" value="@Model.coursedetails.courseInfo" />
    </div>
    <div id="btnbook" class="card-footer" style="background: inherit; border-color: inherit;">
        <input id="book" type="submit" value="Book" class="btn btn-outline-primary" />
    </div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}