@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <title>Custom Bootstrap 4 card</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<style>

    h1 {
        color: black;
    }
    html {
        font-size: 14px;
    }

    .container {
        font-size: 14px;
        color: #666666;
        font-family: "Open Sans";
    }

    .card-custom {
        overflow: hidden;
        min-height: 450px;
        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    }

    .card-custom-img {
        height: 200px;
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-color: inherit;
    }

        .card-custom-img::after {
            position: absolute;
            content: '';
            top: 161px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-top-width: 40px;
            border-right-width: 0;
            border-bottom-width: 0;
            border-left-width: 545px;
            border-left-width: calc(575px - 5vw);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: inherit;
        }

    .card-custom-avatar img {
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
        position: absolute;
        top: 100px;
        left: 1.25rem;
        width: 100px;
        height: 100px;
    }
</style>

<body>
    <h1 style="text-align:center;" >Recommended Courses</h1>
    @{ if (Model.AllCourses.Count == 0)
        {
<p style="text-align:center; color:black;">There is currently no courses</p> }
            else
            {
<div class="container">
    <div class="row pt-5 m-auto">
        @foreach (var item in Model.AllCourses)
        {
<div class="col-md-6 col-lg-4 pb-3">

    <!-- Add a style="height: XXXpx" to div.card to limit the card height and display scrollbar instead -->
    <div class="card card-custom bg-white border-white border-0" style="height: 450px">
        <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>

        <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">@item.courseTitle</h4>
            <p class="card-text"><strong>Course Information</strong> @item.courseInfo</p>
            <p class="card-text"><strong>Genre:</strong> @item.courseGenre</p>
            <p class="card-text">
                <strong>Format:</strong>
                @{ if (item.courseFormat == false)
                    {
                        <label>Video</label>
                    }
                    else if (item.courseFormat == true)
                    {
            <label>Live</label>
                    }
                }
            </p>
            <p class="card-text"><strong>Price: $</strong>@item.coursePrice</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a asp-page="/Teacher/CourseDetail" asp-route-id="@item.courseID" class="btn btn-outline-primary">View</a>
        </div>
    </div>

</div>}
    </div>
</div> } }
</body>
